{%

    $columns = isset($element['columns']) && is_array($element['columns']) ? $element['columns'] : [];


    if (!count($columns)) {
        return;
    }
%}

<div id="{{ @$settings['id'] }}" class="cp-builder-grid cp-grid cp-m cp-child-w-1-{{ count($columns)}}@m {{ @$settings['class'] }}">

    @foreach($columns as &$column)
    <div id="{{ @$column['settings']['id'] }}" class="{{ @$column['settings']['class'] }}">
        @if(count($column['children']))
            {{ render_layoutbuilder_elements($column['children']) }}
        @end
    </div>
    @endforeach

</div>
