// UIkit
// ========================================================================

@import "../../../cockpit/assets/lib/uikit/less/uikit.less";

// Components: Navs
@import "../../../cockpit/assets/lib/uikit/less/components/dotnav.less";
@import "../../../cockpit/assets/lib/uikit/less/components/slidenav.less";

// Components: Common
@import "../../../cockpit/assets/lib/uikit/less/components/form-password.less";
@import "../../../cockpit/assets/lib/uikit/less/components/progress.less";

// Components: JavaScript
@import "../../../cockpit/assets/lib/uikit/less/components/accordion.less";
@import "../../../cockpit/assets/lib/uikit/less/components/slider.less";
@import "../../../cockpit/assets/lib/uikit/less/components/slideshow.less";
@import "../../../cockpit/assets/lib/uikit/less/components/search.less";
@import "../../../cockpit/assets/lib/uikit/less/components/sticky.less";
@import "../../../cockpit/assets/lib/uikit/less/components/tooltip.less";

// Variables

@global-primary-background:         #4FC1E9;

@base-body-background:              #fafafa;
@base-body-font-family:             -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-heading-font-family:          @base-body-font-family;
@base-body-font-size:               16px;
@base-body-line-height:             1.5;
@base-h1-line-height:               1.5;
@base-h2-line-height:               1.5;
@base-h3-line-height:               1.5;
@base-link-color:                   @global-primary-background;

@navbar-background:                 none;
@navbar-nav-height:                 80px;
@navbar-nav-font-family:            @base-body-font-family;
@navbar-nav-hover-background:       none;
@navbar-nav-onclick-background:     none;
@navbar-nav-active-background:      none;

@panel-box-background:              #fff;

@text-primary-color:                @global-primary-background;

@icon-font-path:                    "../../../cockpit/assets/lib/uikit/fonts";

.uk-panel-box {
    box-shadow: 0 0 15rem rgba(0, 0, 0, .1);
}

/* ========================================================================
   Hookd
 ========================================================================== */

.hook-navbar-nav {
    text-transform: uppercase;
    font-size: 90%;
}

.hook-navbar-nav-active {
    font-weight: bolder;
}

/* ========================================================================
   Theme
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }

b,
strong,
.uk-text-bold { font-weight: bolder; }

.site-header {
    border-bottom: 1px #eee solid;
    background: #fff;
}

.site-main, .site-footer {
    &:extend(.uk-container, .uk-container-center);
}

.site-footer {
    margin-bottom: 2rem;
}

.uk-navbar-brand {
    font-weight: bolder;
    padding: 0;
}
