/* Layout Builder CSS */
@import url('../../../cockpit/addons/Copilot/assets/layout-builder/layout-builder.css');

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

a {
    color: #80b9f5;
    text-decoration: none;
}

article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
}

[class*="container"] {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.brand-link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    padding: 0;
    margin: 0;
}

.nav li:not(:first-child) {
    margin-left: 0.8em;
}

.nav li > a {
    display: block;
    text-decoration: none;
}

.nav li.active > a {
    color: #000;
}

.breadcrumbs {
    display: flex-inline;
    font-size: 0.8em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs li:not(:first-child) {
    margin-left: 0.8em;
}

.site-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px #fafafa solid;
    box-shadow: 0 0 20px rgba(0,0,0,0.07)
}

.site-header nav { 
    font-size: .7em;
    font-weight: bold;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.site-main {
    min-height: 60vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.site-footer {
    margin-top: 2rem;
    min-height: 20vh;
    background-color: #222;
    color: #fff;
    font-size: .8em;
    padding-top: 2rem;
}
