<cp-pagejump>

    <span class="uk-position-relative" data-uk-dropdown>

        <i class="uk-icon-folder-o"></i>

        <div class="uk-dropdown">

            <strong class="uk-text-small">Sub pages</strong>

            <div class="{ pages && pages.length > 10 ? 'uk-scrollable-box':''}" show="{ pages && pages.length }">
                <ul class="uk-list">
                    <li class="uk-margin-small-top uk-text-truncate" each="{page in pages}">
                        <a href="{ App.route('/copilot/page')+page.relpath }"><i class="uk-icon-file-text-o"></i> { page.meta.title }</a>
                    </li>
                </ul>
            </div>

            <div class="uk-alert" show="{ pages && !pages.length }">
                No sub pages.
            </div>
            <hr>

            <a class="uk-text-small" href="{ App.route('/copilot/pages'+opts.page.relpath) }">Browse</a>

        </div>

    </span>

    <script>

        var $this = this;

        this.pages = null;

        this.on('mount', function() {

            App.$(this.root).on('beforeshow.uk.dropdown', function(){
                if (!$this.pages) $this.loadpages();
            });

        });

        loadpages() {

            App.callmodule('copilot:pages', [opts.page.dir]).then(function(data) {
                $this.pages = data.result;
                $this.update();
            });
        }

    </script>

</cp-pagejump>
