<div class="bl-grid bl-child-width-1-3 bl-m">
    <div data-component="column">
        <div class="m" data-component="image"><img src="//via.placeholder.com/200x200" width="200" height="200" data-builder-edit="src:text,width:text,height:text"></div>
        <h3  data-component="heading" data-builder-edit="html:html">Max Muster</h3>
        <p  data-component="text" data-builder-edit="html:wysiwyg">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
    <div data-component="column">
        <div class="m" data-component="image"><img src="//via.placeholder.com/200x200" width="200" height="200" data-builder-edit="src:text,width:text,height:text"></div>
        <h3  data-component="heading" data-builder-edit="html:html">Max Muster</h3>
        <p  data-component="text" data-builder-edit="html:wysiwyg">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
    <div data-component="column">
        <div class="m" data-component="image"><img src="//via.placeholder.com/200x200" width="200" height="200" data-builder-edit="src:text,width:text,height:text"></div>
        <h3  data-component="heading" data-builder-edit="html:html">Max Muster</h3>
        <p  data-component="text" data-builder-edit="html:wysiwyg">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
</div>