@extend('theme:layout.html')

{%
    $articles = $page->children()->visible()->sort('$p->meta("created")', 'desc');

    // pagination
    $_limit = $page->meta('limit', 10);
    $_page  = intval(copi::param('p', 1));
    $pagination = $articles->pagination($_limit, $_page);
    $_pages = $pagination->pages();
    $articles  = $articles->skip($pagination->offset())->limit($_limit);
    $QUERY_STRING = preg_replace('/&p=(\d+)/', '', $_SERVER['QUERY_STRING']);
%}

@foreach($articles as $idx => $article)
<article>

    <h1><a href="{{ $article->url() }}">{{ $article->meta('title') }}</a></h1>

    <div>
        {{ date('F d, Y', strtotime($article->meta('created'))) }}
    </div>

    @if($article->meta('teaser'))
    <div>{{ $article->meta('teaser') }}</div>
    @endif

    <div>{{ $article->content() }}</div>

</article>

@if($idx < count($articles))
<br>
@endif

@endforeach


@if($_pages > 1)
<div class="container cp-m cp-align-c">
    <ul class="nav cp-flex-inline">
        @if($_page > 1)
        <li><a href="{{ $page->url() }}?{{ "{$QUERY_STRING}&p=".($_page-1) }}">Prev</a></li>
        @endif

        @foreach($pagination->range(5) as $p)
        <li class="{{ $p==$_page ? 'active':''}}"><a href="{{ $page->url() }}?{{ "{$QUERY_STRING}&p=".$p }}">{{ $p }}</a></li>
        @endforeach

        @if($_page != $_pages)
        <li><a href="{{ $page->url() }}?{{ "{$QUERY_STRING}&p=".($_page+1) }}">Next</a></li>
        @endif
    </ul>
</div>
@endif
