@extend('theme:layout.html')

{%
    $articles = $page->children()->visible()->sort('$p->meta("created")', 'desc');
%}

@foreach($articles as $idx => $article)
<article class="uk-article uk-width-medium-3-4 uk-container-center">

    <h1 class="uk-article-title"><a href="{{ $article->url() }}">{{ $article->meta('title') }}</a></h1>

    <div class="uk-article-meta">
        {{ date('F d, Y', strtotime($article->meta('created'))) }}
    </div>

    @if($article->meta('teaser'))
    <div class="uk-margin">
        {{ $article->meta('teaser') }}
    </div>
    @endif

    <div class="uk-margin">
        {{ $article->content() }}
    </div>

</article>

@if($idx < count($articles))
<hr class="uk-width-medium-3-4 uk-container-center uk-margin-large">
@endif

@endforeach
