@extend('theme:layout.html')

{%
    $articles = $page->children()->visible()->sort('$p->meta("created")', 'desc');
%}

@foreach($articles as $idx => $article)
<article>

    <h1><a href="{{ $article->url() }}">{{ $article->meta('title') }}</a></h1>

    <div>
        {{ date('F d, Y', strtotime($article->meta('created'))) }}
    </div>

    @if($article->meta('teaser'))
    <div>{{ $article->meta('teaser') }}</div>
    @endif

    <div>{{ $article->content() }}</div>

</article>

@if($idx < count($articles))
<br>
@endif

@endforeach
